.formButton {
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  padding: 7px 12px;
  background-color: white;
  border: 2px solid #1e58ff;
  color: #1e58ff;
  cursor: pointer;
}

.formButton:hover {
  background-color: #1e58ff;
  color: white;
}

.listItemButton {
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  padding: 7px 12px;
  background-color: white;
  border: 2px solid #1e58ff;
  color: #1e58ff;
}

.listItemButton:hover {
  background-color: #1e58ff;
  color: white;
}

.listItemLink:visited {
  color: #1e58ff;
}
