@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: auto;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  width: 80vw;
  align-items: center;
}
